.clang-format
en.subject.pdf
*.o
ex00/braiiiiiiinnnzzzz
ex01/moar_brainz
ex02/hi_this_is_brain
ex03/unnecessary_violence
ex04/sed_is_for_losers
ex05/harl_2_0
ex06/harl_filter
*.replace
compile_commands.json
.cache
